.success{
    border:2px solid green;
    background-color:lightgreen;
    color:green;
}
.error{
    border:2px solid red;
    background-color:lightsalmon;
    color:red;
}
.warning{
    border:2px solid orange;
    background-color: yellow;
    color: orange;
}