.div1, .div2, .div3 {
    width: 300px;
    height: 300px;
    padding: 30px;
    margin: 40px;
}

.div1 {
    background-color: purple;
    position: relative;
    right: 100px;
    bottom: 50px;
}

.div2 {
    background-color: yellow;
    position: relative;
    left: 150px;
    top: 320px;
}

.div3 {
    background-color: red;
    position: relative;
    right: 180px;
    top: 240px;
}