.div1 {
  width: 500px;
  height: 500px;
  background-color: yellow;
  position: fixed;
  box-sizing: border-box;
  padding: 40px;
  border: 1px solid black;
}

.div2 {
  width: 300px;
  height: 300px;
  background-color: green;
  position: absolute;
  box-sizing: border-box;
  padding: 75px;
}

.div3 {
  width: 150px;
  height: 150px;
  background-color: blue;
  position: absolute;
  box-sizing: border-box;
  border: 20px solid black;
}
