

.container{
    height:100px;
    width:500px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items:center;
    border: 5 px solid black;

}
.home{
    padding:20px;
}
.contacto{
    padding:20px;
}