.container{
    display:flex;
    flex-wrap:wrap;
}

.header{
    min-width:100%;
    background-color:red;
    text-align:center;
}
.aside1{
    min-width: 20%;
    background-color: yellow;
    text-align:center;
    
}

.article{
    max-width: 60%;
    background-color:lightblue;
    text-align:center;
}

.aside2{
    min-width:20%;
    background-color:pink;
    text-align:center;
}
.footer{
    min-width: 100%;
    background-color:green;
    text-align:center;
    
}